.first-page {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 250px 250px 250px 250px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    row-gap: 0;
}

.box{
    text-align: center;
    background-size: cover;
    padding: 0;
    align-self: center;
}

.box1 {
    background-image: url(https://i.loli.net/2020/09/15/XYjeAG2tDlxFu1v.jpg);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 500px;
    height: 300px
}

.box2 {
    background-color: ghostwhite;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1 2;
    width: 250px;
    height: 150px;
}

.box3 {
    background-color: rgb(209, 162, 162);
    grid-column-start: 4;
    grid-column-end: 5;
    width: 250px;
    height: 150px;
}

.box4 {
    background-color: rgb(221, 235, 233);
    grid-column-start: 3;
    grid-column-end: 4;
    height: 150px;
    width: 250px;
}

.box5 {
    background-color: rgb(230, 233, 216);
    grid-column-start: 4;
    grid-column-end: 5;
    height: 150px;
    width: 250px;
}

.box p {
    position: relative;
    top: 47px;
}

.box1 p {
    position: relative;
    top: 110px;
}

.box2, .box3 {
    position: relative;
    top: 75px;
}

.box4, .box5 {
    position: relative;
    bottom: 75px;
}

.title1 {
    position: absolute;
    top: 70px;
    left: 610px;
    
}

.title2 {
    position: relative;
    top: 2px;
    text-align: center;
}

p:hover {
    color: rgba(68, 91, 139, 0.377);
}

.two {
    width: 90%;
    margin: 0 auto;
}

.two div:nth-of-type(1) {
    width: 48%;
    float: left;
}

.two div:nth-of-type(2) {
    width: 48%;
    float: right;
}

html {
    background-color: rgba(226, 223, 223, 0.904);
}

.two p{
    font-size: 1.25em;
}

.first {
    position:sticky;
    top: 0;
    left: 0;
    color: rgb(41, 128, 209);
}

a:hover {
    color: rgb(236, 205, 147);
}